:root {
    --scheels-red: rgb(200, 51, 58);
    --scheels-gray: rgb(240, 240, 240);
    font-family: verdana;
  }

  body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
  }

  header{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: white;
    width: 100%;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    margin-bottom: 10px;
    min-width: 388px;
  }

  #nav-bar{
    display: flex;
    padding: 20px;
    justify-content: space-between;
  }

  #scheels-logo{
    width: 120px;
    cursor: pointer;

  }

  .display-form-button{
    border: none;
    background-color: white;
    color: var(--scheels-red);
    cursor: pointer;
    border-radius: 3px;
  }

  .active{
    background-color: var(--scheels-gray);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.279) inset;
  }

  .bi-pencil-fill:hover{
    filter: drop-shadow(2px 2px 2px rgb(0 0 0 / 0.4));
    transition: .1s;
}

#accordion{
    background-color: var(--scheels-red);
    box-sizing: border-box;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

#edit-form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding:10px;
}

.form-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.submit-button{
    border: none;
    padding: 5px 10px 5px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    background-color: white;
    border-radius: 3px;
    transition: all .3s ease;
}

.submit-button:hover{
    color: white;
    background-color: black;
}

.value-input{
    border-radius: 30px;
    padding: 10px 35px 10px 15px;
    width: 100%;
    border: none;
    color: rgb(94, 94, 94);
    background-color: var(--scheels-gray);
    margin: 3px;
}

.value-input::placeholder {
    font-family: verdana;
    font-weight: bold;
    font-size: smaller;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 80vw;
    font-weight: 600;
  }


li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: .4em;
    padding-bottom: .4em;
    border-radius: 3px;

}

li:hover{
    box-shadow: 0px 0px 2px inset;

}

.li-odd{
    background-color: var(--scheels-gray);
}

.li-even{
    background-color: white;
}
.li-icon{
    padding-right: 1em;
}

.hidden{
    display: none;
}


